<app-background #background></app-background>

<app-person #person gridX=6 gridY=18></app-person>

<app-marker #educationMarker gridX=9 gridY=13></app-marker>

<!-- <app-marker #firstInternshipMarker gridX="" gridY=""></app-marker>
<app-marker #secondInternshipMarker gridX="" gridY=""></app-marker>
<app-marker #thirdInternshipMarker gridX="" gridY=""></app-marker>
<app-marker #capitalOneTDPMarker gridX="" gridY=""></app-marker>
<app-marker #capitalOneMNavMarker gridX="" gridY=""></app-marker> -->

<router-outlet></router-outlet>
