header {
    padding: 8px;
    height: 64px;
}

.section-header {
    text-align: center;
}
.section-header-number {
    font-family: 'Roboto Mono', monospace;
    color: rgb(100, 255, 218);
}

.section-header-text {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    margin-left: 16px;
}

.resume-link {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    border: 1px solid rgb(100, 255, 218);
    color: rgb(100, 255, 218);
    font-family: 'Raleway', sans-serif;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    text-decoration: none;
    float: right;
    z-index: 100;
}

.resume-link:hover {
    cursor: pointer;
    background-color: rgba(100, 255, 218, 0.07);
}

.background-wrapper {
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
}

.background {
    border-radius: 4px;
}

.background-grayscale {
    filter: grayscale();
}

.points {
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 100;
}

.person {
    background: url("../assets/pikachu-female.gif");
    height: 16px;
    width: 16px;
    position: absolute;
    background-size: contain;
    z-index: 10;
    top: 10px;
    left: 10px;
}

.marker {
    /* border: 2px solid white; */
    /* border-radius: 16px; */
    height: 24px;
    width: 24px;
    position: absolute;
    /* animation: pulsate 1s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0 */
}

.marker:hover {
    cursor: pointer;
    /* border: 2px solid rgb(100, 255, 218); */
}

@keyframes pulsate {
    0% {
        transform: scale(0.0, 0.0);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(2, 2);
        opacity: 0.0;
    }
}

/* CARD */

mat-card {
    font-family: 'Raleway', sans-serif;
    background: inherit;
    box-shadow: none;
    padding: 0;
}

mat-card-title {
    color: rgb(100, 255, 218);
}

mat-card-subtitle {
    color: rgb(168, 178, 209);
}

mat-card-content {
    line-height: 1.5em;
    color: aliceblue;
}

mat-card-footer {
    margin: 0;
}

mat-chip-list {
    display: inline-block;
}

/* INFO */

.info-card {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 562px;
    height: 335px;
    box-shadow: none;
}

.circle-icon {
    background-image: url(../assets/circle-icon.svg);
}

.circle-icon-gray {
    filter: grayscale();
}

.card-content-sub-header {
    color: rgb(100, 255, 218);
}

/* SKILLS */
.skills-card {
    box-shadow: none;
}

.skills-card-header {
    text-align: center;
    justify-content: center;
    line-height: 2em;
}

/* PROJECTS */

.projects-card {
    box-shadow: none;
    width: 50%;
    margin: 60px auto;
}

.projects-card-header {
    text-align: center;
    justify-content: center;
    line-height: 2em;
}

.github-links {
    text-decoration: none;
    color: rgb(100, 255, 218);
}

.links {
    float: right;
}

.fa-icon {
    height: 32px;
    width: 32px;
    font-size: 32px;
    color: #e0e0e0;
}

.fa-icon:hover {
    cursor: pointer;
    opacity: 50%;
}

.fa-external-link-alt {
    margin-left: 8px;
}

.footer-div {
    background: black;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 10px;
    height: 64px;
}

.footer-link {
    text-decoration: none;
    color: aliceblue;
}