<mat-grid-list cols=2>

  <mat-grid-tile>
    <div class="background-wrapper">
      <img src="../assets/background.png" />
      <div #person class="person" gridX=6 gridY=18></div>
      <div #childhoodMarker class="marker" gridX=5 gridY=15.5 label="childhoodMarker"></div>
      <div #collegeMarker class="marker" gridX=9 gridY=13 label="collegeMarker"></div>
      <div #internshipsMarker class="marker" gridX=15 gridY=9.5 label="internshipsMarker"></div>
      <div #capitalOnePart1Marker class="marker" gridX=22.5 gridY=12 label="capitalOnePart1Marker"></div>
      <div #capitalOnePart2Marker class="marker" gridX=27.5 gridY=10.5 label="capitalOnePart2Marker"></div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
        <mat-card #infoCard class="info-card">
            <div class="mat-card-avatar" >
              <img class="circle-icon circle-icon-gray" src="../assets/circle-icon.svg"/>
            </div>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          <mat-card-content>
            <p></p>
          </mat-card-content>
        </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>